@{
    ViewData["Title"] = "Tracks";
}
@model List<TrackModel>

<h1>All Tracks</h1>
@foreach (var track in Model)
{
    <h6>@track.Name</h6>
    <h6>@track.Id</h6>
    <a href="/Track/DownloadTrack?trackId=@track.Id">Download</a>
}


@*<form asp-controller="Track" asp-action="UploadTrack" enctype="multipart/form-data" method="post">
    <div class="mb-3">

        <label for=@Model.Name class="form-label">Name</label>
        <input asp-for=@Model.Name class="form-control">
        <span asp-validation-for=@Model.Name class="text-danger"></span>

        <label for="@Model.Description class="form-label">Description</label>
        <textarea asp-for=@Model.Description class="form-control"></textarea>
        <span asp-validation-for=@Model.Description class="text-danger"></span>

        <label for="formFile" class="form-label">Track data</label>
        <input name="file" class="form-control" type="file" id="trackData">
        <span asp-validation-for=@Model.TrackData class="text-danger"></span>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </div>
</form>
*@
