@{
    ViewData["Title"] = "Tracks";
}
@model List<TrackModel>

<h1>All Tracks</h1>
@foreach (var track in Model)
{
    <h6>@track.Name</h6>
    <h6>@track.Id</h6>
    <a href="/Track/DownloadTrack?trackId=@track.Id">Download</a>
}

